@charset "UTF-8";
::after,
::before {
  box-sizing: border-box;
}

html {
  -moz-tab-size: 4;
  tab-size: 4;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

hr {
  height: 0;
  color: inherit;
}

abbr[title] {
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

summary {
  display: list-item;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: #fff;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding: 0 15px;
}

.section {
  align-items: center;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.section--second-color {
  background-color: #f5f4fa;
  margin-top: 0;
}

.no-pb {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.section--title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.customer__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------------------- Модалка -------------------- */
.back-drop {
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back-drop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.back-drop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 528px;
  padding: 40px;
  border-radius: 4px;
  background-color: #fff;
  fill: #212121;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-content {
  position: relative;
}

.btn-modal-icon {
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-modal:hover .btn-modal-icon {
  fill: #2196f3;
}

.btn-modal {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -32px;
  right: -32px;
  padding: 6px 6px 5px 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #fff;
  align-items: center;
}

.modal-title {
  text-align: center;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form-item:not(:first-child) {
  margin-top: 10px;
}

.modal-form-label {
  display: block;
  position: relative;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input {
  display: block;
  outline: none;
  font-family: inherit;
  width: 100%;
  height: 40px;
  margin: 4px 0 0;
  padding: 11px 12px 11px 35px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  border-color: #2196f3;
}
.modal-form-input:focus + .modal-icon {
  fill: #2196f3;
}

.modal-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  width: 18px;
  height: 18px;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-input {
  padding: 12px 16px;
  height: 120px;
  resize: none;
}

.modal-form-btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
  margin: 30px auto 0;
  padding: 10px 55px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover, .modal-form-btn:focus {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox:checked + .checkbox-icon {
  border-color: transparent;
  background-color: #2196f3;
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid #212121;
  border-radius: 2px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
  margin-left: 5px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.head {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo-company {
  margin-right: 93px;
}

.logo-company__web {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: #2196f3;
}

.logo-company__studio {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}

/* -------------------- Header Navigation -------------------- */
.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__list {
  display: flex;
  gap: 50px;
}

.site-nav__link {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: #2196f3;
}

.site-nav--active {
  color: #2196f3;
  position: relative;
}
.site-nav--active::after {
  content: "";
  position: absolute;
  bottom: -1.5%;
  left: 0;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

/* -------------------- Header Contact -------------------- */
.contact {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.contact__link {
  display: inline-flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: #757575;
  fill: #757575;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact__link:hover, .contact__link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.contact__icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

/* -------------------- Hero -------------------- */
.hero {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background: #c4c4c4;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-bg.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.hero__title {
  width: 695px;
  font-weight: 900;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.hero__btn {
  display: inline-flex;
  align-items: center;
  height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.hero__btn:hover, .hero__btn:focus {
  background-color: #fff;
  color: #2196f3;
  border: transparent;
}

/* -------------------- Privileg -------------------- */
.privileg {
  display: flex;
}

.privileg__item {
  width: 270px;
  margin: 0 auto;
}

.priveleg__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.priveleg__icon {
  height: 70px;
  width: 70px;
}

.privileg__subtitle {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
}

.privileg__text {
  margin: 0;
  line-height: 1.7;
  color: #757575;
}

/* -------------------- Work -------------------- */
.work {
  display: flex;
  justify-content: center;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.work__item {
  padding: 0 15px;
}

.work__thumb {
  position: relative;
  overflow: hidden;
}
.work__thumb:hover .work__action {
  transform: translateY(0);
  opacity: 1;
}

.work__action {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  bottom: 0;
  background: rgba(47, 48, 58, 0.8);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
}

/* -------------------- Command --------------------*/
.command {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.command__item {
  background: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command__footer {
  margin: 30px 0;
}

.command__name {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  margin-bottom: 10px;
}

.command__prof {
  text-align: center;
  font-size: 16px;
  line-height: 1.18;
  color: #757575;
  margin-bottom: 16px;
}

.social__network {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social__icon {
  width: 20px;
  height: 20px;
}

/* -------------------- Постоянные клинеты -------------------- */
.customer {
  display: flex;
  gap: 30px;
}

.customer__item {
  display: flex;
  width: calc((100% - 150px) / 6);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer__item:hover, .customer__item:focus {
  border-color: #2196f3;
}

.customer__link {
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover,
.customer__link:focus {
  fill: #2196f3;
}

.customer__icon {
  width: 106px;
  height: 60px;
}

/* -------------------- Footer -------------------- */
.footer {
  width: 100%;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer--flex {
  display: flex;
}

.footer-content {
  display: flex;
}

.logo-company__studio--inverse {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: #ffffff;
}

.address {
  display: flex;
  margin-top: 20px;
}

.footer-logo {
  margin-bottom: 9px;
}

.address__link {
  font-style: normal;
  text-decoration: none;
  line-height: 1.7;
  color: #ffffff;
  display: inline-block;
}

.footer__item {
  font-style: normal;
  line-height: 1.19;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__city {
  margin-bottom: 9px;
}

.address__link {
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.color--white {
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}

.footer-soc-title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-top: 12px;
  color: #ffffff;
}

.footer-social {
  margin-left: 70px;
}

.footer-social-link--gray-bg {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link--gray-bg:hover, .footer-social-link--gray-bg:focus {
  background-color: #2196f3;
}

.footer-icon--white {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.social__list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social__network {
  width: 44px;
  height: 44px;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.social__icon {
  width: 20px;
  height: 20px;
}

/* -------------------- Sunscribe -------------------- */
.subscribe-form {
  display: block;
  font-weight: 700;
  margin-left: 93px;
  padding-top: 12px;
  padding-bottom: 20px;
}

.subscribe-form__title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.subscribe-form__input {
  outline: none;
  font-family: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  width: 358px;
  padding: 15px 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__input:hover, .subscribe-form__input:focus {
  border-color: #2196f3;
}

.subscribe-form__btn {
  display: inline-flex;
  align-items: center;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin: 0 0 0 12px;
  padding: 10px 28px;
  background-color: #2196f3;
  border: 1px solid #2196f3;
  border-radius: 4px;
  fill: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__btn:focus {
  background-color: #fff;
  fill: #2196f3;
  color: #2196f3;
  border: transparent;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}/*# sourceMappingURL=main.css.map */