@import "./base/normalize";
@import "./base/castom-reset";
@import "./utilites/custom-colors";
@import "./utilites/sections";
@import "./base/castom-utilites";
@import "./utilites/mixin";
@import "./utilites/placeholder";
@import "./components/modal";
@import "./components/header";
@import "./components/logo";
@import "./components/header-navigation";
@import "./components/header-contact";
@import "./components/hero";
@import "./components/privileg";
@import "./components/work";
@import "./components/command";
@import "./components/customer";
@import "./components/footer";
