/* -------------------- Постоянные клинеты -------------------- */

.customer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include defaultGap(30px);
}

.customer__item {
  display: flex;
  width: calc((100% - 60px) / 2);
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border-color: $acent-color;
  }

  @media screen and(min-width: 767px) {
    width: calc((100% - 60px) / 3);
  }

  // width: calc((100% - 150px) / 6);
}

.customer__link {
  @extend %centeredFlex;
  width: 100%;
  height: 100%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover,
.customer__link:focus {
  fill: $acent-color;
}

.customer__icon {
  width: 106px;
  height: 60px;
}
