.header {
  border-bottom: 1px solid $border-header-color;
}

.head {
  display: flex;
  align-items: center;
  margin: 0 auto;

  @media screen and(min-width: 768px) {
    justify-content: space-between;
  }

  @media screen and(min-width: 1200px) {
    justify-content: flex-start;
  }
}
