/* -------------------- Hero -------------------- */

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background: #c4c4c4;

  background-size: cover;
  background-repeat: no-repeat;

  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.5)
    ),
    url("../img/hero/mobile.jpg");

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
      ),
      url("../img/hero/mobilx2.jpg");
  }

  @media screen and(min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
      ),
      url("../img/hero/tablet.jpg");
    background-position: center;
    padding: 120px;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgb(0, 0, 0, 0.5),
          rgb(0, 0, 0, 0.5)
        ),
        url("../img/hero/tabletx2.jpg");
    }
  }

  @media screen and(min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgb(0, 0, 0, 0.5),
        rgb(0, 0, 0, 0.5)
      ),
      url("../img/hero/desctop.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgb(0, 0, 0, 0.5),
          rgb(0, 0, 0, 0.5)
        ),
        url("../img/hero/desctopx2.jpg");
    }
  }
}

.hero__title {
  max-width: 360px;
  font-weight: 900;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  line-height: calc(42 / 26);
  text-transform: uppercase;
  color: $white-text-color;
  margin-bottom: 30px;

  @media screen and(min-width: 1200px) {
    max-width: 656px;
    font-size: 44px;
    line-height: 1.3;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  display: inline-flex;
  align-items: center;
  height: 50px;
  min-width: 200px;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8px;
  letter-spacing: 0.06em;
  color: $white-text-color;
  background-color: $acent-color;
  border: 1px solid $acent-color;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $prinmary-bg-color;
    color: $acent-color;
    border: transparent;
  }
}
