.logo-company {
  margin-right: 93px;
}

.logo-company__web {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: $acent-color;
}

.logo-company__studio {
  font-family: "Raleway";
  font-size: 26px;
  line-height: 1.2;
  color: #000000;
}
