.mobile-menu__btn {
  background-color: transparent;
  border: none;
  margin-left: auto;

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.mobile-menu__btn--open {
  margin-left: auto;

  &:hover .burger-menu {
    fill: $acent-color;
  }

  &:focus .burger-menu {
    fill: $acent-color;
  }
}

.burger-menu {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 48px 40px;
  background-color: $prinmary-bg-color;
  z-index: 1;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }

  @media screen and(min-width: 768px) {
    display: none;
  }
}

.mobile-menu__btn--close {
  position: absolute;
  top: 10px;
  right: 15px;

  &:hover .burger-close {
    fill: $acent-color;
  }

  &:focus .burger-close {
    fill: $acent-color;
  }
}

.burger-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile__item {
  display: flex;
  @include defaultGap(30px);
}

.mobile__link {
  display: inline-flex;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding: 16px 0;
  color: #212121;

  &:hover {
    color: $acent-color;
  }
}

.mobile-contact__item {
  display: flex;
  @include defaultGap(30px);
}

.mobile-contact__tel {
  display: inline-flex;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: $acent-color;
  padding-bottom: 16px;

  @media screen and(min-width: 480px) {
    font-size: 34px;
    line-height: calc(40 / 34);
  }
}

.mobile-contact__mail {
  display: inline-flex;
  padding-top: 16px;
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-social {
  display: flex;
  flex-wrap: wrap;

  @media screen and(max-width: 479px) {
    gap: 10px;
  }
}

.mobile-social__item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:last-child {
    border: none;
  }
}

.mobile-social__link {
  padding: 0 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}
