/* -------------------- Privileg -------------------- */

.privileg {
  @media screen and(min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.privileg__item {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;

  @media screen and(min-width: 767px) {
    margin-bottom: 0;
    width: calc((100% - 30px) / 2);
  }

  @media screen and(min-width: 1200px) {
    margin-bottom: 0;
    width: calc((100% - 90px) / 4);
  }
}

.priveleg__box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: $second-section-bg-color;
  border-radius: 4px;
  margin-bottom: 30px;
}

.priveleg__icon {
  height: 70px;
  width: 70px;
}

.privileg__subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
}

.privileg__text {
  margin: 0;
  line-height: 1.7;
  color: $second-text-color;
}
