$primary-text-color: #212121;
$second-text-color: #757575;
$white-text-color: #ffffff;
$acent-color: #2196f3;
$prinmary-bg-color: #fff;
$border-header-color: #ececec;
$hero-bg: #2f303a;
$btn-bg-color: #f5f4fa;
$second-section-bg-color: #f5f4fa;
