body {
  font-family: "Roboto", sans-serif;
  color: $primary-text-color;
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: $prinmary-bg-color;

  &.no-scroll {
    overflow: hidden;
  }
}

.section {
  align-items: center;
  padding: 60px 0;

  @media screen and(min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--title {
  text-align: center;
  font-size: 36px;
  line-height: 1.16;
  margin-bottom: 50px;
}

.section--second-color {
  background-color: $second-section-bg-color;
  margin-top: 0;
}
